# Node / Frontend
node_modules/
dist/
build/
.cache/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log
package-lock.json
.DS_Store

# Local env
.env
.env.local
.env.*.local

# .NET / Backend
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates

# IDE
.idea/
.vscode/
*.code-workspace

# OS
Thumbs.db
ehthumbs.db
Desktop.ini

#archive
./archive
/public/skybox/*.glb